PROJECT_NAME="ML API"
PROJECT_DESCRIPTION="API for generates recommendations based on ML algorithms"

SERVICE_PORT=8035
SERVICE_HOST=0.0.0.0
SERVICE_BASE_URL=http://localhost:8035

SWAGGER_URL="/docs"
REDOC_URL="/redoc"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_EXPIRE_IN_SECONDS=3600

POSTGRES_DB=ml-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_HOST=ml-db
POSTGRES_PORT=5432

SQL_HOST=ml-db
SQL_PORT=5432
DATABASE_TYPE=postgres

MONGODB_NAME=ml_database
MONGODB_USER=root
MONGODB_PASSWORD=secret
MONGODB_HOST=ml-mongodb
MONGODB_PORT=27017

SQLALCHEMY_URL=postgresql://postgres:secret@ml-db:5432/ml-db
DATABASE_URL=postgresql+asyncpg://postgres:secret@ml-db:5432/ml-db
SQLALCHEMY_ECHO=True
